/* GALLERY */
/* gallery container */
.gallery-container {
  position:relative;
  margin:auto;
  overflow:hidden;
  width:100%;
  height:75vh;
}

/* slides */
.slides {
  width:100%;
  height:100%;
}

.slide {
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align:center;
  cursor: pointer;
}

.firstSlide {
  background-image: url(pic1.jpg);
}

.secondSlide {
  background-image: url(pic2.jpg);
}

.thirdSlide {
  background-image: url(pic3.jpg);
}

.fourthSlide {
  background-image: url(pic4.jpg);
}

.fifthSlide {
  background-image: url(pic5.jpg);
}

/* gallery content */
.slide-content {
  font-family: 'Raleway', sans-serif;
  max-width: 75%;
  margin:0 auto;
}

.slide-heading {
  color:hsla(0, 0%, 51%, 1);
}

.slide-caption {
  color:hsla(0, 0%, 51%, 1);
}

/* gallery key */
.gallery-key {
  position:absolute;
  bottom:5%;
  width:100%;
  text-align:center;
}

.key {
  cursor:pointer;
  height:15px;
  width:15px;
  background-color: hsla(0, 0%, 63%, 0.78);
  border-radius:50%;
  display:inline-block;
  transition: background-color 0.5s ease;
}

.active, .key:hover, .key:active {
  background-color:hsla(0, 2%, 24%, 0.6);
}

/* Media Queries - gallery */
/* extra small */
 @media (min-width:450px) {
  .slide h1 {
    font-size:2.8025em;
  }

  .slide h2 {
    font-size:2.6025em;
  }

  .slide h3 {
    font-size:2.4025em;
  }

  .slide h4 {
    font-size:2.2025em;
  }

  .slide h5 {
    font-size:2.0025em;
  }

  .slide h6 {
    font-size:1.8025em;
  }

  .slide-caption, .slide p, .slide li, .slide a {
    font-size:1.5625em;
  }
}

/* small */
@media (min-width:668px) {
  .slide h1 {
    font-size:3.1025em;
  }

  .slide h2 {
    font-size:2.9025em;
  }

  .slide h3 {
    font-size:2.7025em;
  }

  .slide h4 {
    font-size:2.5025em;
  }

  .slide h5 {
    font-size:2.3025em;
  }

  .slide h6 {
    font-size:2.1025em;
  }

  .slide-caption, .slide p, .slide li, .slide a {
    font-size:1.7515em;
  }
}

/* medium */
@media (min-width:901px) {
  .slide h1 {
    font-size:4.2560em;
  }

  .slide h2 {
    font-size:4.0060em;
  }

  .slide h3 {
    font-size:3.7560em;
  }

  .slide h4 {
    font-size:3.5060em;
  }

  .slide h5 {
    font-size:3.2560em;
  }

  .slide h6 {
    font-size:3.0060em;
  }

  .slide-caption, .slide p, .slide li, .slide a {
    font-size:1.9575em;
  }
}

/* large */
@media (min-width:1301px) {
  .slide h1 {
    font-size:4.7525em;
  }

  .slide h2 {
    font-size:4.2575em;
  }

  .slide h3 {
    font-size:3.7525em;
  }

  .slide h4 {
    font-size:3.2575em;
  }

  .slide h5 {
    font-size:2.7525em;
  }

  .slide h6 {
    font-size:2.2575em;
  }

  .slide-caption, .slide p, .slide li, .slide a {
    font-size:2.2515em;
  }
}

/* extra large */ 
@media (min-width:1601px) {
  .slide h1 {
    font-size:5.7525em;
  }

  .slide h2 {
    font-size:5.5025em;
  }

  .slide h3 {
    font-size:5.2525em;
  }

  .slide h4 {
    font-size:5.0025em;
  }

  .slide h5 {
    font-size:4.7525em;
  }

  .slide h6 {
    font-size:4.5025em;
  }

  .slide-caption, .slide p, .slide li, .slide a  {
    font-size:2.5em;
  }
} 